<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Notebook</title>
    <script type="text/javascript" src="../jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="worksheet_buttons.js"></script>
</head>
<body>
    <h2>Worksheets</h2>
    
    <button id="new">New</button>
    <button id="copy">Copy</button>
    <button id="delete">Delete</button>
    
    <form id="new_worksheet" action="/notebook/" method="GET">
    <input type="hidden" name="worksheet" id="worksheet" />
    </form>
    
    <form id="worksheet_action" action="/worksheet_action/" method="POST">
    <input type="hidden" name="action" id="action" />
    <input type="hidden" name="new_name" id="new_name" />
    
    <table id="worksheets">
    <tr>
        <th>Name</th>
        <th>Selected</th>
    </tr>
    {{#worksheets}}
    <tr>
        <td><a href="/notebook/?worksheet={{.}}">{{.}}</a></td>
        <td><input type="radio" name="worksheet" id="worksheet" value="{{ name }}" /></td>
        </form>
    </tr>
    {{/worksheets}}
    </table>

</body>
</html>
