body {
    font: 1em serif;
}

.input_prompt {
    color: blue;
    margin-right: 10px;
}

.output_prompt {
    color: red;
    margin-right: 10px;
} 

.cell_widget {
    margin: 10px 0;
}

.cell_widget img {
    height: 300px;
    width: 300px;
}

.cell .input {
    color: #000;
    padding: 3px;
    border: 1px solid gray;
    overflow: hidden;
    font: 1.2em monospace;
    width: 20em;
}

.cell_buttons {
    margin-left: 10px;
}

.cell button {
    color: green;
    background: none;
    border: none;
    padding: 0px;
    margin-left: 0px;
    outline: none;
}

.cell p {
    margin:5px 0px 20px;
}

.heading {
    font-size: 1.6em;
    font-weight: bold;
    margin-top: 10px;
}

button#new {
    margin-bottom:10px;
}
