body {
    font: 1em serif;
}

.cell {
    float:left;
    width:20em;
    margin:0 1em 1em;
    padding:0;
    border:1px solid gray;
}

.cell button {
    width:1.5em;
    height:1.5em;
    border: 1px solid #afafaf;
    padding: 0px;
    margin-left: 0px;
    outline: none;
    font: 1em serif;
    text-align:center;
}

.cell button.text {
    background: #fff;
    color: #000;
}

.cell button.python {
    background: #3773A5;
    color: #FFD040;
}

.cell button.ruby {
    background: #BD1612;
    color: #fff;
}

.cell button.delete {
    float:right;
    background:#fff;
    color:#a00;
}

.cell .input {
    display:block;
    width:17em;
    color: #000;
    padding: .2em;
    margin:0 .5em;
    border: 1px solid gray;
    font: 1.2em monospace;
}

.cell .output {
    margin:0;
    padding:0;
    width:100%;
    height:4em;
    overflow:hidden;
}

.cell .output iframe {
    border:1px solid gray;
    padding:0em;
    width:100%;
    height:100%;
    font: 1.2em monospace;
}

.cell table {
    border: 1px solid #000;
}

.heading {
    font-size: 1.6em;
    font-weight: bold;
    margin-top: 10px;
}

button#new {
    margin-bottom:10px;
}

#controls {
    margin-bottom: 10px;
}

#__messages {
    color: #9A0000;
}
