<!DOCTYPE html> 
<html lang="en"> 
<head>
    <title>Cell Iframe</title>
    <link rel="stylesheet" type="text/css" href="../../iframe.css" />
<script type="text/javascript" src="../../protovis-r3.2.js"></script>
<script type="text/javascript" src="../../vis_proto.js"></script>
<script type="text/javascript" src="../../json2.min.js"></script>

</head>
<body>

<script type="text/javascript+protovis">
    var data;
    var output = '{{{output}}}';
    
    try {
        data = JSON.parse(output);
    } catch (error) {
        alert(error);
    } finally {
        indent(data);
    } 

</script>    

</body>
</html>