<!DOCTYPE html> 
<html lang="en"> 
<head>
    <title>Notebook</title>
    <script type="text/javascript" src="../../jquery.min.js"></script>
    <script type="text/javascript" src="../../jquery.couch.js"></script>
    <script type="text/javascript" src="../../ws_client.js"></script>
    <script type="text/javascript" src="../../new_cell.js"></script>
    <script type="text/javascript" src="../../interact.js"></script>
    <link rel="stylesheet" type="text/css" href="../../style.css" />
</head>
<body>
    <div id="controls">
        <button id="add_cell">Add cell</button>
    </div>

    <div id="worksheet">
