<!DOCTYPE html> 
<html lang="en"> 
<head>
    <title>Notebook</title>
    <script type="text/javascript" src="../static/jquery.min.js"></script>
    <script type="text/javascript" src="../static/jquery-ui/js/jquery-ui-1.8.9.custom.min.js"></script>
    <script type="text/javascript" src="../static/jquery.couch.js"></script>
    <script type="text/javascript" src="../static/json2.min.js"></script>
    <script type="text/javascript" src="../static/new_cell.js"></script>
    <script type="text/javascript" src="../static/external.js"></script>
    <script type="text/javascript" src="../static/protovis-r3.2.js"></script>
    <script type="text/javascript" src="../static/vis_proto.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/jquery-ui/css/ui-lightness/
jquery-ui-1.8.9.custom.css" />
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
</head>
<body>
    <div id="__messages"><p></p></div>
    
    <div id="controls">
        <button id="add_cell">Add cell</button>
    </div>

    <div id="worksheet">
