<!DOCTYPE html> 
<html lang="en"> 
<head>
    <title>Notebook</title>
    <script type="text/javascript" src="../../js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/jquery/jquery-ui-1.8.9.custom.min.js"></script>
    <script type="text/javascript" src="../../js/jquery/jquery.couch.js"></script>
    <script type="text/javascript" src="../../js/lib/json2.min.js"></script>
    <script type="text/javascript" src="../../js/lib/protovis-r3.2.js"></script>
    <script type="text/javascript" src="../../js/app/new_cell.js"></script>
    <script type="text/javascript" src="../../js/app/vis_proto.js"></script>
    <script type="text/javascript" src="../../js/app/request.js"></script>
    <script type="text/javascript" src="../../js/app/notebook.js"></script>
    <script type="text/javascript" src="../../js/app/poolside.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../../css/ui-lightness/
jquery-ui-1.8.9.custom.css" />
</head>
<body>
    <div id="controls">
        <button id="add_cell">Add cell</button>
        <div id="messages"><p></p></div>
    </div>
    
    <div id="worksheet">
